.content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner-home {
  max-width: 100%; /* Maksimum lebar untuk banner */
  height: auto; /* Lebar otomatis sesuai dengan aspek gambar */
}

.service-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; /* Sesuaikan dengan margin yang Anda inginkan */
}

.service-title {
  font-size: 24px; /* Sesuaikan dengan ukuran teks yang Anda inginkan */
  font-weight: bold;
  margin-bottom: 20px; /* Sesuaikan dengan margin yang Anda inginkan */
}

.tabel-service {
  display: flex;
  justify-content: space-between; /* Mengatur ruang di antara elemen-elemen tabel */
  max-width: 600px; /* Sesuaikan dengan lebar maksimum yang Anda inginkan */
}

.left-content,
.right-content {
  flex-basis: 48%; /* Mengatur lebar masing-masing kolom */
  text-align: center;
}

/* CSS untuk ikon dan teks di dalam kolom */
.service-icon {
  width: 60px; /* Sesuaikan dengan ukuran ikon */
  height: 60px; /* Sesuaikan dengan ukuran ikon */
}

.note-icon {
  text-decoration: none;
  color: #484848;
  font-size: 14px; /* Sesuaikan dengan ukuran teks yang Anda inginkan */
  margin-top: 10px; /* Sesuaikan dengan margin yang Anda inginkan */
}

/* footer */
.foot-site {
  margin-top: 50px;
}
